Hi
<div>
  {% if label %}
    <a class="title-link" href="{{ url }}"><h1>{{ label }}</h1></a>
  {% endif %}
  {% if content.field_designation %}
    <h1>{{ content.field_designation }}</h1>
    <p>{{ content.field_phone_number }}</p>
  {% endif %}
 {{ dump(content.field_projects) }}
  <div>
    {% if content.field_projects %}
      <ul>
        {% for project in content.field_projects['#items'] %}
          {# Load the project entity to access its fields #}
          {% set project_entity = project.entity %}
          <li>
            <h3><a href="{{ project_entity.field__project_url.uri }}">{{ project_entity.label }}</a></h3>
            <div class="project-body">
              {{ project_entity.body.value|raw }}
            </div>

            {% if project_entity.field_project_insight.entity %}
              <div class="project-image">
                <img src="{{ file_url(project_entity.field_project_insight.entity.fileuri) }}" alt="{{ project_entity.field_project_insight.alt }}">
              </div>
            {% endif %}
            {# Add more fields as needed #}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

  </div>
</div>





